@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'tailwindcss';

@theme {
	--color-primary: #0f1017;
	--color-secondary: #f1f3f4;
	--color-tertiary: #47494e;
	--color-primary-bg: #bc49f9;
	--color-primary-purple: #bc49f9;
	--color-primary-purple-hover: oklch(71.4% 0.203 305.504);
	--color-card-services: #26262d;
	--color-primary-red: #e94565;
	--color-primary-blue: #55b5f0;
	--font-open-sans: 'Open Sans', sans-serif;
}

@layer components {
	.btn-primary-purle {
		@apply bg-primary-purple text-secondary hover:bg-primary-purple-hover duration-500 ease-in-out;
	}
}
